{% extends 'base_restaurateur_page.html' %}
{% block title %}Необработанные заказы | Star Burger{% endblock %}
{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>
  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Оплата</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Сумма заказа</th>
      <th>Ресторан</th>
      <th>Действия</th>
    </tr>
    {% for order in order_items %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.get_status_display }}</td>
        <td>{{ order.get_payment_method_display }}</td>
        <td>{{ order.firstname }} {{ order.lastname }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.total_price }} руб.</td>
        <td>
          {% if order.restaurant %}
            {{ order.restaurant.name }}
          {% elif order.address_not_found%}
            <strong>Адрес не найден</strong>
          {% else %}
            <details>
              <summary>Может приготовить</summary>
              <ul>
                {% for restaurant, order_distance in order.restaurants_with_distance %}
                  <li>
                    {{ restaurant.name }}
                    {% if order_distance is not None %}
                      -{{ order_distance }} км
                    {% else %}
                      - не удалось определить расстояние
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </details>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'admin:foodcartapp_order_change' object_id=order.id %}?next={{ request.path|urlencode }}">
            Редактировать
          </a>
        </td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}